*{
  margin: 0;
  padding: 0;
  font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Helvetica, Arial, Verdana, sans-serif;
}
a{
  text-decoration: none;
  color: #000;
}

.fl{
  float: left;
}
.fr{
  float: right;
}
.line{
  width: 30px;
  height: 1px;
  background-color: #5796a7;
  margin: 10px auto;
}
.page{
  overflow: hidden;
}
.wrapper{
  position: relative;
  max-width: 980px;
  margin: 0 auto;
}
.top{
  text-align: center;
}
.pagetit{
  font-size: 22px;
  margin-top: 20px;
}

.middle{
  margin-top: 50px;
}
.menu{
  width: 10%;
  list-style: none;
}
@media screen and (max-width: 840px) {
  .middle{
    margin-top: 10px;
  }
  .menu{
    width: 100%;
    text-align: center;
  }
}
.menu li{
  margin: 12px 5px;
  cursor: pointer;
  color: #000;
}
.menu li.active a{
  color: #5796a7;
}
.menu a:hover{
  color: #5796a7;
}
.menu li::before{
  content: '';
  display: inline-block;
  width: 3px;
  height: 12px;
  background-color: #5796a7;
  margin-right: 6px;
}
/* web */
@media screen and (min-width: 840px) {
  .content{
    position: relative;
    width: 80%;
    padding-top: 12px;
    float: right;
    overflow: hidden;
  }
}
/* mobile */
@media screen and (max-width: 840px) {
  .content{
    position: relative;
    width: 100%;
    padding-top: 12px;
    padding-left: 10px;
    overflow: hidden;
  }
}